/.vs
/*.ncb
/*.suo
*.user
Release
Debug
*.eaf
/SwfLib/obj
/SwfLib/bin
/eaf2apt/obj
/eaf2apt/bin
/eaf2apt/*_geometry
/eaf2apt/*_sounds
/eaf2apt/*_textures
/eaf2apt/*_videos
/eaf2apt/*_art
/eaf2apt/*.swf
/eaf2apt/triangle.exe
/eaf2apt/*.ele
/eaf2apt/*.neigh
/eaf2apt/*.node
/eaf2apt/*.poly
/eaf2apt/*.apt
/eaf2apt/*.const
/eaf2apt/*.dat
/eaf2apt/*.xml
/libjpeg/msvc.exp
/libjpeg/msvc.lib
